.full-height{
  height: 100%;
}

.avatar{
    padding: 5px;
}

.avatar-small{
    height: 40px !important;
    width: auto;
    padding: 5px;
}

.no-padding{
    padding: 0px;
}

.modal-title{
    font-size: 22px;
    font-weight: bold;
}
